<h1><%= @recipe.name %></h1>
<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
<% if @recipe.ingredients.any? %>
  <h2>Ingredients</h2>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
